*{
    text-decoration: none;
}
.bo-vs{
    background-image: url('../../assets/vast-desert.jpg');
    background-size: cover; /* ปรับขนาดภาพพื้นหลังให้เต็มขนาดของคอนเทนเนอร์ */
    background-position: center; /* ยืดภาพพื้นหลังจากส่วนกลาง */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.vs-img{
    display: flex;
    align-items: center;
    border-radius: 7px;
    /* background-color: rgba(31, 31, 31, 0.7); */
    background-color: rgba(138,120,110, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 350px;
    flex-direction: column;
}

.vs-user{
    width: 100%;
}

.vs-usernsme{
    margin-left: 25px;
    display: flex;
    align-items: center;
    height: 60px;
    object-fit: cover;
}

.vs-usernsme {

}

.vs-user img{
    background-color: rgba(202, 202, 202, 0.7);
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;    
}

.vs-user p{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.vs-img .cac-img img{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    border-radius: 7px;
    object-fit: cover;
}

.cac-img img{
    transition: 0.1s ease;
}
    
.cac-img img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 10px #ffcd05, 0 0 10px #74BC38, 0 0 10px #74BC38;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 150px;
    height: 50px;
    background-color: rgba(202, 202, 202, 0.7);
    color: white;
    margin-top: 10px;
}
.score h1{
    font-weight: bold;
}